*{margin: 0;
padding: 0;
box-sizing: border-box;
}

.header {
    grid-area: header;
background-color: brown;
}

.left-menu {
    grid-area: left-menu;
    background-color: blueviolet;
}

.main{
    grid-area: main;
    background-color: coral;
}

.right-menu{
    grid-area: right-menu;
    background-color: aqua;
}

.container {
    height: 100vh;
    background-color: crimson;
    display: grid;
    grid-template:
   "header header header" 50px
   "left-menu main right-menu" 1fr /
   200px 1fr 300px;
}